.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mtl, .margin-top-large {
  margin-top: 2em;
}

#nav-sidebar {
  margin: 0 !important;
  border: 0px;
  border-radius: 0px;
}

#sidebar-btn {
  width: 150px;
  font-size: 3rem !important;
  background: #1B1C1D;
  color: white;
  border-radius: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.main-content-container {
  padding: 0px 150px;
  min-height: 1000px;
}
.ui.text.container {
  width: 30%;
}
.ui.button {
  font-size: 0.76rem;
}

.navlink {
  width: auto !important;
  display: flex;
  flex-wrap: wrap;
}
#layout {
  width: 100%;
  margin: 0;
}
