.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.green-text {
  color: green !important;
}
.black-text {
  color: black !important;
}

.float-right {
  float: right !important;
}

.checkout-button {

}

.product-link-container {
  width: 300px !important;
  height: 300px !important;
  float: right;
  padding: 10px;
  background: #eee;
  margin: 10px;
  display: flex;
  cursor: pointer;
  border-radius: 2px;
}

.product-link-container:hover {
  background: #aaa;
}

.product-summary-container {
  bottom: 0px;
  line-height: 1px !important;
  height: auto;
  max-height: auto;
  position: relative;
  display: block;
  vertical-align: bottom;
}

.pll {
  margin-left: 150px;
  padding-left: 50px;
}
.pvl {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.mtxl {
  margin-top: 6rem !important;
}

.mtl {
  margin-top: 3rem !important;
}

.mtmd {
  margin-top: 2rem !important;
}

.mtsm {
  margin-top: 1rem !important;
}

.mtxs {
  margin-top: 5px !important;
}

.mll {
  margin-left: 3rem !important;
}

.mlmd {
  margin-left: 2rem !important;
}

.mlsm {
  margin-left: 1rem !important;
}

.full-width {
  width: 100% !important;
}
.transition {
  transition: 50ms;
}
.unlit-button {
  transition: 2s;
  color: black !important;
  background: white !important;
}

.bold {
  font-weight: bold !important;
}

.big-font, .big-text {
  font-size: 3rem;
}

.small-font, .small-text {
  font-size: 0.7rem;
}

.fixed-close-button {
  position: fixed !important;
  font-size: 20px !important;
  padding: 5px 7px !important;
  border-radius: 300px !important;
  background: rgba(233,233,233,0.9) !important;
  color: #7f8c8d;
  top: 20px;
  right: 20px;
  z-index: 9999;
  border: 2px solid rgba(233,233,233,0.9) !important;
}

.fixed-close-button:hover {
  border: 2px solid rgba(200,200,200,0.9) !important;
  background: #aaa;
}

.add-to-cart-button, .checkout-button  {
  background: #b2ecbf !important;
}

.checkout-button {
  font-size: 1.2rem;
}

.cancel-button, .cancel-button-small {
  background: #f9c2bd !important
}

.cancel-button, .add-to-cart-button, .add-to-cart-button span {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.ui.segment, .item {
  margin:0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mtl, .margin-top-large {
  margin-top: 2em;
}

.fade-component {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.fade-component.show {
  opacity: 1;
  visibility: visible;
}

.todo-item {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  border: solid 2px white;
  box-sizing: border-box;
}

.faded-bg {
  background-color: rgba(248,248,248,0.95) !important;
}

.fade-enter {
  opacity: 0.01;
  width: 0px;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.fade-leave {
  opacity: 1;
  width: 100px;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.shopping-cart-item-list-container {
  max-height: 400px;
  overflow: scroll;
}

#shopping-cart-button {
  position: fixed;
  color: #7f8c8d;
  top: 30px;
  right: 30px;
}

#shopping-cart-button:hover::before {
  padding-right: 30px;
}

#shopping-cart-button:hover, #shopping-cart-button:hover::before {
  content: 'Shopping cart';
  font-size: 1rem;
  color: #111111;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  #shopping-cart-container {
    position: fixed;
    width: 100%;
    background-color: rgba(244,244,244,0.8);
    width: 20rem;
    top: 0px;
    right: 0px;
    padding: 25px 20px;
    min-height: 100%;
    z-index:99;
  }
  .main-content-container {
    padding-top: 100px;
    min-height: 1000px;
    width: auto;
  }

  .product-container {
    width: 100% !important;
    padding: 0px 0px 0 200px;
    position: fixed;
    top: 0px;
    height: 100%;
    left: 0px;
    z-index: 999;
  }

  #nav-sidebar {
    border: 0px;
    padding-top: 85px !important;
    border-radius: 0px;
    position:fixed;
    z-index:9999;
  }

  #sidebar-btn {
    width: 150px;
    font-size: 2.4rem !important;
    margin: 0 auto !important;
    color: white;
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background: none !important;
    z-index: 99999;
  }

  #sidebar-btn i {
    margin: 0 auto !important;
  }

  .login-form-container {
    width: 500px !important;
    padding-top: 75px !important;
  }

}

.checkout-container {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background: rgba(233,233,233,0.9);
  z-index: 9999;
  position: fixed;
}

@media only screen and (max-width: 700px) {
  .login-form-container {
    padding-top: 50px;
  }
  .product-container {
    position: fixed;
    top: 0px;
    height: 100%;
    left: 0px;
    padding: 0 !important;
  }

  .main-content-container {
    padding: 0px 30px;
    min-height: 1000px;
  }
}
.ui.text.container {
  width: 30%;
}
.ui.button {
  font-size: 0.76rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

#layout {
  width: 100%;
  margin: 0;
}
